* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #222;
  color: white;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

section#articles div {
  /* min-height: calc(100vh - 60px); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 2rem;
  gap: 46px;
}

section#articles {
  max-width: 1240px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* padding: 0 2rem; */
  margin: 4rem auto;
  /* gap: 46px; */
}
