footer {
  display: flex;
  background-color: #444;
  justify-content: center;
  position: sticky;
  text-align: center;
  align-items: center;
  height: 60px;
}
footer h3 {
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
}
